#!/bin/bash
# ^ For ide/editor formatting
#
# Documents env variables used explicitly in-app

# port to listen on (for http requests), optional
PORT=

# url of the procesquad api service, omit trailing `/`
PRICESQUAD_API=

# Google Cloud Project Credentials, json minified
GCP_CREDS=
GCP_PROJECT_ID=

# Facebook
MESSENGER_ACCESS_TOKEN=
